.btn-blue{background-color: #6D71DD;
padding: 15px 20px;
border-radius: 4px;
color:white ;
font-weight: bold;
font-family: 'Roboto', sans-serif;
width: 230px;
text-align: center;}

.btn-blue:hover{background-color:#4B4BAC ;
color: white;}